<!DOCTYPE HTML5>
<html>
  <head>
    <title>Platanus Challenge by Arturo Cuya</title>
    <style>
      .title {
        color: #4F90FF;
        text-align: center;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        margin-top: 20px;
      }

      .prices {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      .prices td, .prices th {
        border: 1px solid #ddd;
        padding: 8px;
      }

      .prices tr:nth-child(even){background-color: #f2f2f2;}

      .prices tr:hover {background-color: #ddd;}

      .prices th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4F90FF;
        color: white;
      }
    </style>
  </head>
  <body>
    <h1 class="title">Las transacciones más altas de Buda en las últimas 24h</h1>
    <table class="prices">
      <tr>
        <th>Mercado</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Tipo</th>
        <th>Fecha y hora</th>
      </tr>
      <% markets.each do |market| %>
        <tr>
            <td> <%= market['id'] %> </td>
            <% if market['max'].length() == 0 %>
                <td colspan="4" style="color: tomato">No hubieron transacciones en las últimas 24h</td>
            <%else%>
                <td> <%= market['max'][1] %> </td>
                <td> <%= market['max'][2] %> </td>
                <td> <%= market['max'][3] %> </td>
                <td> <%= Time.at(market['max'][0].to_i / 1000).strftime('%Y/%m/%d %H:%M:%S') %></td>
            <%end%>
        </tr>
      <%end%>
    </table>
  </body>
</html>
